doctype html

html
    head
        title Alexa <3 kumocloud
        link(href="css/styles.css" rel="stylesheet")
    body
        div.headline
            div.logo-wrapper.pt-10
                img.logo(src="images/kumocloud-logo.png" width="75")
                //img.logo(src="images/alexa-logo.png" width="75")
            p.subtitle Sign in with your kumo cloud account
        div.wrapper
            form(action="/authorize" method="GET")
                div.form-control#name
                    input(type="email" name="credentials[username]" required placeholder="Email" )
                div.form-control.mt-1#password
                    input(type="password" name="credentials[password]" required placeholder="Password" minlength="3")
                div.hidden-stuff
                    input(type="hidden" name="client_id" value=client_id)
                    input(type="hidden" name="response_type" value=response_type)
                    input(type="hidden" name="redirect_uri" value=redirect_uri)
                    input(type="hidden" name="state" value=state)
                div.form-button.pt-15
                    button(type="submit" disabled="disabled") Sign In

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js")
        script(src="js/scripts.js")
