html, body {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.wrapper {
    padding: 20px 10px;
    background-color: #F7F7F7;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    max-width: 450px;
    margin: auto;
}

.form-control,
.form-button {
    padding: 0 20px;
}

.form-control input,
.form-button button {
    height: 40px;
    width: 100%;
}

.form-control input {
    font-size: 15px;
    padding: 0 10px;
    border: none;
}

.form-button button {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.15);
    color: white;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #1fc8db;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.form-button button[disabled=disabled] {
    background: linear-gradient(141deg, #6EB7B2 0%, #84D0D8 51%, #A0D3E5 75%);
    border: none;
    box-shadow: none;
}

.pt-15 {
    padding-top: 15px;
}

.pt-10 {
    padding-top: 10px;
}

.mt-1 {
    margin-top: 1px;
}

.headline {
    text-align: center;

}

.subtitle {
    font-size: 1.1em;
    font-family: sans-serif;
}

.logo {
    border-radius: 5px;
}